<%-include('includes/head')%>
<%-include('includes/nav')%>
<div class="container">
  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <h1 class="display text-center">Cadastrando os contatos</h1>
      <p class="text-center lead">Seus contatos estão a baixo</p>
    </div>

      <table class="table table-striped my-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% if(contatos.length > 0) { %>
            <div class="responsive-table">
              <table class="table my-3">
                <% contatos.forEach(contato => { %>
                <tr>
                  <td><%= contato.nome %></td>
                  <td><%= contato.sobrenome %></td>
                  <td><%= contato.telefone %></td>
                  <td><%= contato.email %></td>
                  <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                  <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
                <% }); %>
              </table>
            </div>
            <% } else { %>
              <p class="text-center lead">Não existem contatos na sua agenda.</p>
            <% } %>
        </tbody>
      </table>

    <div class="col-lg-2"></div>
  </div>
</div>

<%-include('includes/footer')%>