<%-include('includes/head')%>
<%-include('includes/nav')%>
<div class="container">
  <div class="row">

    <div class="col-lg-2"></div>

    <div class="col-lg-8">
      <h1 class="display text-center">Cadastrando os contatos</h1>
      <p class="text-center lead">Seus contatos estão a baixo</p>
    </div>

    <%-include('includes/form')%>

      <table class="table table-striped my-3">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Telefone</th>
            <th scope="col">Tipo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Matheus Hora</td>
            <td>77999197482</td>
            <td>ação</td>
            <td><a href="">editar</a></td>
            <td><a href="" class="text-danger ">excluir</a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Matheus Hora</td>
            <td>77999197482</td>
            <td>ação</td>
            <td><a href="">editar</a></td>
            <td><a href="" class="text-danger ">excluir</a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Matheus Hora</td>
            <td>77999197482</td>
            <td>ação</td>
            <td><a href="">editar</a></td>
            <td><a href="" class="text-danger ">excluir</a></td>
          </tr>
        </tbody>
      </table>

    <div class="col-lg-2"></div>

    <%-include('includes/buttons')%>
  </div>
</div>

<%-include('includes/footer')%>